*{
  padding:0;
  margin:0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #560656;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}
@font-face {font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}


#topMenu{
  #titleImage{
    position: absolute;
    top: 15px;
    left:80px;
    width:400px;
    height:65px;
    background-image: url(../img/yitu/logo.png);
  }
  .layerbox {
    position: absolute;
    top: 83px;
    left:80px;
    z-index: 5;
    background: #fff;
    padding: 5px 6px;
    cursor: move;
  }
  .zdeps-1 {
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
  }
  .tooldragbar {
    position: absolute;
    cursor: move;
  }
  .tooldragup {
    height: 10px;
    width: 100%;
    left: 0;
    top: -5px;
  }
  .tooldragdown {
    height: 10px;
    width: 100%;
    left: 0;
    bottom: -5px;
  }
  .tooldragleft {
    height: 100%;
    width: 12px;
    top: 0;
    left: -6px;
  }
  .tooldragright {
    height: 100%;
    width: 12px;
    top: 0;
    right: -6px;
  }
  #layerbox {
    background: #fff;
    height: 36px;
    width: 388px;
    position: relative;
  }
  #layerbox .layer_item {
    float: left;
    height: 36px;
    cursor: pointer;
    border-right: 1px #c8c8c8 solid;
    margin:0 3.8px;
  }

  #layerbox .layer_item span {
    display: inline-block;
    height: 16px;
    padding: 20px 10px 0;
  }
  #layerbox .layer_item:last-child{
    border:0;
  }

  #layerbox .tucengkongzhi span { 
    padding-top: 20px;
    background: url(../img/yitu/tool/t_1.png) no-repeat 18.5px 0px;
  }
  .tucengkongzhiActive{
    background: url(../img/yitu/tool/t_1_c.png) no-repeat 18.5px 0px !important;
  }
  #layerbox .shishilukuang span {
    background: url(../img/yitu/tool/t_2.png) no-repeat 18.5px 0px;
  }
  .shishilukuangActive{
    background: url(../img/yitu/tool/t_2_c.png) no-repeat 18.5px 0px !important;
  }
  #layerbox .kongjianchaxun span {
    background: url(../img/yitu/tool/t_3.png) no-repeat 18.5px 0px;
  }
  .kongjianchaxunActive{
    background: url(../img/yitu/tool/t_3_c.png) no-repeat 18.5px 0px !important;
  }
  #layerbox .kongjianfenxi span {
    background: url(../img/yitu/tool/t_4.png) no-repeat 18.5px 0px;
  }
  .kongjianfenxiActive{
    background: url(../img/yitu/tool/t_4_c.png) no-repeat 18.5px 0px !important;
  }
  #layerbox .dilibiaozhu span {
    background: url(../img/yitu/tool/t_5.png) no-repeat 18.5px 0px;
  }
  .dilibiaozhuActive{
    background: url(../img/yitu/tool/t_5_c.png) no-repeat 18.5px 0px !important;
  }
}

#jiantou{
  width:400px;
  height:30px;
  position: absolute;
  left:90px;
  .usel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .amap-panctrl-down {
    display: none;
    bottom: -20px;
  }
  .amap-panctrl {
    z-index: -10;
    width: 100%;
    height: 24px;
    cursor: pointer;
    left: calc(100% - 330px);
    overflow: hidden;
    text-align: center;
    background: url(../img/yitu/panctrl.png) center center no-repeat;
  }
  .amap-panctrl .fa {
    padding: 4px 40px;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
}

#leftContent{
  position:absolute;
  width:398px;
  height:430px;
  left:80px;
  top:131px;
  background-color: #fdfdfe;
  border:1px #bfbfbf solid;
  display:none;
  opacity: 1;
}
#rightTop{
  position:absolute;
  right:5px;
  top:5px;
  height:58px;
  width:180px;
  .userImg{
    width:57px;
    height:58px;
    float:left;
    background: url(../img/yitu/defavatar.png) no-repeat 3px 5px #cbcbcb;
  }
  .userInfo{
    height:58px;
    width:123px;
    margin-left:57px;
    text-align: center;
    background-color: white;
    font-size:1.2em;
    .userName{
      padding-top:4px;
    }
    .userType{
      margin-top:7px;
    }
  }
}

#layers{
  width:100%;
  #allLayer{
    width:100%;
    height:194px;
    .oneLayer{
      float: left;
      width: 75px;
      margin-top: 16px;
      margin-left: 3px;
      text-align: center;
      img{
        cursor: pointer;
        padding-bottom:8px;
      }
    }
  }

  #tucenglayerConfirm{
    position:absolute;
    top:380px;
    width:100%;
    text-align: center;
    input{
      width:90px;
      height:32px;
      cursor: pointer;
      color:white;
      padding-left:30px;
      margin:0px 10px;
      border: 0;
    }
    #tucengConfirm{
      background: url(../img/yitu/tuceng/ok.png) no-repeat center #0a7dd7;
    }
    #tucengCancel{
      background: url(../img/yitu/tuceng/cancer.png) no-repeat  center #0a7dd7;
    }
  }
  #fenxilayerSelect{
    position:absolute;
    top:190px;
    left:16px;
    div{
      text-align:center;
      line-height: 30px;
      float:left;
      width:90px;
      height:30px;
      cursor: pointer;
      background-color: #f4f4f4;
      color: #2661a5;
      border: 0;
      margin-right: 35px;
    }
  }
  .fenxilayerSelectActive{
    border-bottom:1px solid white !important;
    color:#ffffff !important;
    background-color: #0562c9 !important;
  }
}

#fenxilayerConfirm{
  position:absolute;
  top:420px;
  width:100%;
  text-align: center;
  input{
    width:90px;
    height:32px;
    cursor: pointer;
    color:white;
    padding-left:30px;
    margin:0px 10px;
    border: 0;
  }
  #fenxiConfirm{
    background: url(../img/yitu/tuceng/ok.png) no-repeat center #0a7dd7;
  }
  #fenxiCancel{
    background: url(../img/yitu/tuceng/cancer.png) no-repeat center #0a7dd7;
  }
}

.textColor{
  color: #0a7cd7
}

#rightMiddle{
  position:absolute;
  top:200px;
  right:4px;
  div{
    position:absolute;
    height:50px;
    right:0;
    cursor: pointer;
  }
  .rightMiddleTop{
    width:44px;
    top:0;
    background:url(../img/menu/1tu.png) no-repeat 0px 0px;
  }
  .rightMiddleMid{
    width:44px;
    top:46px;
    background:url(../img/menu/1ku.png) no-repeat 0px 0px;
  }
  .rightMiddleBot{
    width:44px;
    top:92px;
    background:url(../img/menu/kaifa.png) no-repeat 0px 0px;
  }
  .rightMiddleBotBot{
    width:44px;
    top:138px;
    background:url(../img/menu/jrsj.png) no-repeat 0px 0px;
  }
  .rightMiddleTop:hover{
    width:200px;
    top:0;
    background:url(../img/menu/1tu_c.png) no-repeat 0px 0px;
  }
  .rightMiddleMid:hover{
    padding-left:156px;
    background:url(../img/menu/1ku_c.png) no-repeat 0px 0px;
  }
  .rightMiddleBot:hover{
    padding-left:156px;
    background:url(../img/menu/1yun_c.png) no-repeat 0px 0px;
  }
  .rightMiddleBotBot:hover{
    padding-left:156px;
    background:url(../img/menu/jrsj_c.png) no-repeat 0px 0px;
  }
}

#tucengContent{
  width:397px;
  position:relative;
  height:175px;
  z-index: 1;
  .selectTop{
    position:absolute;
    top:2px;
    left:10px;
    width:260px;
    height:30px;
    border:2px solid #e4e4e4;
    background: url(../img/yitu/down.png) no-repeat 220px 2.5px;
    cursor:pointer;
    p{
      margin:1px 10px;
      color: #5d5d5d;
      font-size:16px;
    }
  }

  .selectContent{
    position:absolute;
    top:38px;
    left:10px;
    width:260px;
    display: none;
    height:120px;
    border:2px solid #e4e4e4;
    font-size:16px;font-style:normal;
    z-index: 2;
    overflow: scroll;
    ul{
      list-style: none;
      background-color: white;
      li{
        padding:7px 10px;
        color: #5d5d5d;
        border-bottom: #e5e7e9 1px solid;
        cursor: pointer;
      }

      li:last-child{
        border:0;
      }
      li:hover{
        background-color: #f2f7f7;
      }
    }
  }
  #selectResult{
    position:absolute;
    top:38px;
    left:10px;
    width:370px;
    height:131px;
    border:2px solid #e4e4e4;
    overflow:auto;
    z-index: 2;
    div{
      position:relative;
      float:left;
      padding:3px;
      margin:3px 2px;
      border:1px  #aaaaaa solid;
    }
    div .text{
      height:16px;
      padding-left:4px;
      padding-right:5px;
      float:left;
    }
    div .img{
      margin:0;
      padding:0;
      border:0;
      width:16px;
      height:16px;
      cursor:pointer;
      background: url(../img/yitu/error.png) no-repeat 0 0;
      z-index: 999;
    }
  }
}
#calPanel{
  position:absolute;
  top:38px;
  left:20px;
  width:0px;
  height:250px;
  z-index: 2;
  #div_date_demo3 {
    visibility: hidden;
  }
}

#allmap{
  width:100%;
  height:100%;
}

//趋势分析

#qushi{
  position:absolute;
  top:100px;
  left:450px;
  width:600px;
  z-index: 9999;
  height:400px;
  display: none;
  border: solid #0562c9 1px;
  background-color: #ffffff;
}
#qushiTitle{
  position:relative;
  width:100%;
  height:40px;
  background-color: #0562c9;
  text-align: center;
  cursor:move;
  line-height: 40px;
  color:#ffffff;
}
#qushiTitle span {
}
#qushiTitle .qushiImg{
  position:absolute;
  top:0px;
  right:0px;
  width:40px;
  height:40px;
  cursor:pointer;
  background: url(../img/yitu/cuowu.png) no-repeat 0px 4px;
}
#qushiGraph{
  width:100%;
  height:360px;
}

#quanping{
  position:absolute;
  width:16px;
  height:16px;
  bottom:5px;
  right:5px;
  &:hover{
    cursor:pointer;
  }
}